{{!-- <nav class=" teal darken-3 mynav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo logonew" >Learn English </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/create">Add words</a></li>
        <li><a href="/home">Перевірити знання</a></li>
        
      </ul>
    </div>
  </nav>
         --}}
 <nav class=" teal darken-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Learn English</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/create">Додати слово</a></li>
        <li><a href="/home">Перевірити знання</a></li>
    
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
     
      <a href="#user"><img class="circle" src=""></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
 
  {{!-- <div class="anvigate">
  <ul class="sidenav" id="mobile-demo">
    <li class="sidenav"><a href="/create">Додати слово</a></li>
    <li class="sidenav"><a href="/home">Перевірити знання</a></li>
    
  </ul>
  </div> --}}