<nav class=" blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Learn English </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/create">Add words</a></li>
        <li><a href="/home">Перевірити знання</a></li>
        
      </ul>
    </div>
  </nav>
        