
 <nav class=" teal darken-3 mynav">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo logonew">Learn English</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Ще</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/create">Додати слово</a></li>
        <li><a href="/home">Перевірити знання</a></li>
        
      </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/create">Додати слово</a></li>
        <li><a href="/home">Перевірити знання</a></li>
        
      </ul>
 
