{{>head}}
<body>
    {{>navbar}}
    <div class="container">
        {{{body}}}
    </div>
</body>
<script src="voise.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="anim.js"></script>
</html>