<form action="#">
<label for="">Введіть слово англійською</label>
<input type="text">
<label for="">Введіть його переклад</label>
<input type="text">
 <button class="btn waves-effect waves-light" type="submit" name="action">
    <i class="material-icons right">Підтвердити</i>
  </button>
</form>