<form action="/create" method="post">
<label for="textinuk">Введіть слово англійською</label>
<input type="text" name="inuk" class="inputcreate">
<label for="textinua">Введіть його переклад</label>
<input type="text" name="inua" class="inputcreate">
 <button class="btn waves-effect waves-light" type="submit" >
    <i class="material-icons right">Підтвердити</i>
  </button>
</form>