<div class="wrapper">
<h1 class="errors-header">Невірна відповідь</h1>
<div class="obolon">
<a href="/" class="main"><div class="wokab"> Подивитись в словник</div></a>
<a href="/home" class="main"><div class="wokab err"> Спробувати ще</div></a>
</div>
</div>
