<h1>{{word}}</h1>
<form action="#">
    <input type="text">
    <button class="btn waves-effect waves-light " type="submit" name="action">
    <i class="material-icons right">OK</i>
  </button>
</form>
<p class="center-align">Спробуй ще</p>