{{#if todo.length}}
<div class="wrapper">
<h1 class="gol">Твій словник</h1>
<ul class="nn">
  {{#each todo}}
  <form action="/delete" method="post">
  <li class="todo ">
    
    <div class="newBut ">
    <span class="lis">{{Ukwords}}</span>
    <span>{{Uawords}}</span>
    <span class="none">{{_id}}</span>
    
     </div>
      {{!-- <button class="btn waves-effect waves-light vidst " type="submit" name="del">Del</button> --}}
       
  </li>
  </form>
  {{/each}}
</ul>

{{else}}
<p class="main-page-p">Словник порожній!</p>
<p class="main-page-p">Щоб почати роботу натисніть: "Додати слово"</p>
<p class="main-page-p">Щоб перейти до словника натисніть: "Learn English"</p>
<p class="main-page-p">Щоб прослухати вимову натисніть на слово з словника</p>
<p class="main-page-p">Щоб видалити слово з словника, натисніть "Alt + натиск правою кнопкою миші"</p>

{{/if}}
</div>