<form action="#">
    <label for="">Введіть слово англійською</label>
    <input type="text" id="text" class="inputcreate">
    <div class="button" id="button">Прослухати</div>
    <select class="form-control" id="voices"></select>
</form>
